body{
    background-color: rgb(213, 85, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.digit{
    font-size: 150px;
    font-weight: bold;
}
.txt{
    font-size: 40px;
    font-weight: bold;
}
#btn-container{
    text-align: center;
    margin-top: 40px;
}
.btn{
    padding: 6px 27px;
    font-size: 16px;
    margin: 0px 60px;
    border: 0px;
    cursor: pointer;
    border-radius: 25px;
    font-family: 'Kanit', sans-serif;
}
.btn:hover{
    font-weight: bold;
}
#start{
    background-color: rgb(160, 225, 109);
}
#stop{
    background-color: rgb(241, 89, 69);
}
#reset{
    background-color: rgb(85, 134, 225);
}